@use "./base";
@use "./components";
.management {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  &-left {
    &__thumb {
      margin: 0 27px;
    }
  }
  &-right {
    &__thumb {
      margin: 0 27px;
    }
  }
  &-center {
    &__tittle {
      color: #f9f9f9;
      width: 783px;
      text-align: center;
      font-family: Sora;
      font-size: 60px;
      font-style: normal;
      font-weight: 700;
      line-height: 70px; /* 116.667% */
      margin-top: 62px;
    }
    &__desc {
      color: #858b93;
      margin-top: 34px;
      text-align: center;
      display: block;
      margin: 34px auto;
      width: 447px;
      font-family: Sora;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px; /* 162.5% */
    }
  }
  &-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 44px;
    &__button {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #f9f9f9;
      text-align: center;
      font-family: Sora;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px; /* 162.5% */
      width: 199px;
      height: 54px;
      flex-shrink: 0;
      border-radius: 8px;
      background: #282c30;
      box-shadow: 1px 8px 45px 0px rgba(0, 0, 0, 0.25);
      &:hover {
        background-color: #ebebeb;
        color: #131517;
      }
      &--lv1 {
        width: 199px;
        height: 54px;
        flex-shrink: 0;
        border-radius: 8px;
        background: linear-gradient(90deg, #eb9204 -33.14%, #83e868 116.38%);
      }
    }
  }
}
.management-bottom {
  position: relative;
  margin-top: 111px;
  &__image {
    margin: 0 auto;
    display: block;
  }
}
.management-collection {
  width: 216px;
  height: 335px;
  flex-shrink: 0;
  border-radius: 15px 15px 22px 22px;
  background: #0d1012;
  position: absolute;
  top: 177px;
  left: 75px;
}
.management-top {
  display: flex;
  align-items: center;
  gap: 65px;
  margin-left: 25px;
  margin-top: 26px;
  &__tittle {
    color: #f9f9f9;
    font-family: Sora;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}
.management-list {
  margin-top: 21px;
}
.management-item {
  padding: 12px 13px 10px 12px;
}
.management-item {
  width: 188px;
  height: 78px;
  flex-shrink: 0;
  border-radius: 13px;
  background: #14181b;
  margin: 7px 15px;
}
.management-column {
  &__tittle {
    color: #fff;
    font-family: Sora;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  &__desc {
    color: var(--Text-Color-gray-1, #858b93);
    font-family: Sora;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.management-row {
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  &__desc {
    color: #858b93;
    font-family: Sora;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.management-rows {
  display: flex;
  align-items: center;
  gap: 10px;
}
.management-block {
  width: 33px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #ff7667;
  &--lv2 {
    background: #ae8ff9;
  }
  &--lv3 {
    background: #0cce84;
  }
}
.technology {
  width: 1096px;
  height: 331px;
  flex-shrink: 0;
  border-radius: 27px;
  background: #282c30;
  margin: 286px auto;
  &-list {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  &-item {
    margin: 71px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__tittle {
      color: #f9f9f9;
      margin-top: 30px;
      font-family: Sora;
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
      line-height: 32px; /* 145.455% */
    }
    &__desc {
      color: var(--Text-Color-gray-1, #858b93);
      text-align: center;
      margin-top: 5px;
      width: 238px;
      font-family: Sora;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px; /* 162.5% */
    }
  }
  &-round {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 62px;
    background: #0cce84;
    border-radius: 50%;
    &--lv2 {
      background: #ef8f00;
    }
    &--lv3 {
      background: #ae8ff9;
    }
    &__image {
      object-fit: cover;
    }
  }
  &-separate {
    display: flex;
    align-items: center;
    width: 194.5px;
    height: 0;
    border-top: 1px dashed #858c94;
    flex-shrink: 0;
    margin-bottom: 157px;
    margin-left: -50px;
  }
}
.number {
  margin-top: 140px;
  &-left {
    &__tittle {
      color: #f9f9f9;
      width: 368px;
      font-family: Sora;
      font-size: 40px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      &--lv1 {
        background: linear-gradient(90deg, #eb9204 -33.14%, #83e868 116.38%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: Sora;
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }
    &__desc {
      color: #858b93;
      margin-top: 22px;
      width: 537px;
      font-family: Sora;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px; /* 162.5% */
    }
  }
  &-right {
    position: relative;
    &__image {
      margin-top: 142px;
      margin-left: 243px;
      display: flex;
      align-items: center;
    }
  }
  &-row {
    display: flex;
    margin-top: 86px;
    gap: 17px;
    top: 10px;
  }
  &-list {
    width: 132px;
    height: 127px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    background: #272633;
    &--lv1 {
      background: linear-gradient(
        192deg,
        #c4f566 -43.72%,
        #ae8ef9 -5.87%,
        #ef8f00 52.36%,
        #61e559 122.78%
      );
      position: relative;
      top: 34px;
    }
  }
  &-item {
    &__numbers {
      color: #f9f9f9;
      text-align: center;
      font-family: Sora;
      font-size: 30px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      display: block;
    }
    &__desc {
      margin-top: 12px;
      color: #858b93;
      text-align: center;
      font-family: Sora;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px; /* 162.5% */
      &--lv1 {
        width: 61px;
        color: #f9f9f9;
        text-align: center;
        font-family: Sora;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; /* 162.5% */
      }
    }
  }
  &-dot {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 91px;
    left: -104px;
    gap: 6px;
    &__dots {
      width: 6px;
      height: 6px;
      flex-shrink: 0;
      border-radius: 6px;
      opacity: 0.3;
      background: #f9f9f9;
      &--lv1 {
        background: #ef8f00;
        opacity: 1;
      }
    }
  }
  &-rounds {
    width: 336px;
    height: 336px;
    flex-shrink: 0;
    border-radius: 336px;
    border: 2px dashed #2f2f2f;
    position: absolute;
    top: -63px;
    left: 179px;
  }
  &-rounded {
    position: absolute;
    width: 455px;
    height: 455px;
    flex-shrink: 0;
    border-radius: 455px;
    border: 2px dashed #2f2f2f;
    top: -118px;
    left: 119px;
  }
  &-blue {
    display: flex;
    align-items: center;
    gap: 45px;
    width: 225px;
    height: 61px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #27292c;
    &--lv1 {
      display: flex;
      gap: 61px;
    }
    &--lv2 {
      display: flex;
      gap: 87px;
    }
    &--lv3 {
      display: flex;
      gap: 10px;
    }
    &:nth-of-type(1) {
      position: absolute;
      top: -84px;
      left: 37px;
    }
    &:nth-of-type(2) {
      position: absolute;
      top: -106px;
      right: 20px;
    }
    &:nth-of-type(3) {
      position: absolute;
      top: 195px;
      left: 20px;
    }
    &:nth-of-type(4) {
      position: absolute;
      top: 282px;
      right: 20px;
    }
    &__desc {
      margin-left: 19px;
      text-align: center;
      font-family: Sora;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      background: linear-gradient(90deg, #ef8f00 -6.27%, #ff7667 90.08%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      &--lv1 {
        margin-left: 23px;
        background: linear-gradient(90deg, #0cce84 3.45%, #ae8ef9 99.07%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      &--lv2 {
        margin-left: 30px;
        background: linear-gradient(93deg, #c4f566 -11.2%, #ff6e6e 123.12%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      &--lv3 {
        background: linear-gradient(93deg, #c4f566 -11.2%, #ff6e6e 123.12%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-left: 15px;
        margin-right: 43px;
      }
    }
  }
  &-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    background: #363a3e;
    border-radius: 50%;
    &--lv1 {
      margin-left: 18px;
    }
  }
  &-avatar {
    display: flex;
    align-items: center;
    &__avt {
      width: 32px;
      height: 32px;
      flex-shrink: 0;
      border-radius: 32px;
      border: 1px solid #c531f9;
      background: url(<path-to-image>) lightgray 50% / cover no-repeat;
      margin-left: -14px;
    }
  }
}
.chart {
  margin-top: 320px;
  &-left {
    position: relative;
  }
  &-arrow {
    position: absolute;
    bottom: -8px; // đẩy mũi tên ra dưới đáy box
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 8px solid rgba(255, 255, 255, 0.36); // giữ màu như khối chính
  }
  &-rows {
  }
  &-separate {
    width: 0px;
    height: 371px;
    border: 1.5px dashed #d0d0d0;
    position: absolute;
    top: -21%;
    left: 10%;
    &:nth-of-type(2) {
      margin-left: 98px;
      width: 0px;
      height: 371px;
      border: 1.5px dashed #d0d0d0;
      position: absolute;
      top: -21%;
      left: 10%;
    }
    &:nth-of-type(3) {
      width: 0px;
      height: 371px;
      border: 1.5px dashed #d0d0d0;
      position: absolute;
      top: -21%;
      left: 12%;
      margin-left: 200px;
    }
    &:nth-of-type(4) {
      width: 0px;
      height: 371px;
      border: 1.5px dashed #d0d0d0;
      position: absolute;
      top: -21%;
      left: 10%;
      margin-left: 327px;
    }
  }
  &-backgr {
    width: 267px;
    height: 267px;
    flex-shrink: 0;
    border-radius: 267px;
    background: linear-gradient(
      180deg,
      #6aea5c 0%,
      #fd7566 48.53%,
      #ef8f00 100%
    );
    filter: blur(66px);
    margin-left: 85px;
  }
  &-right {
    &__tittle {
      color: var(--Text-Color-white, #f9f9f9);
      font-family: Sora;
      font-size: 40px;
      font-style: normal;
      font-weight: 600;
      line-height: 50px; /* 125% */
      width: 399px;
      &--lv1 {
        background: var(
          --Primary-color-leniar-color,
          linear-gradient(90deg, #eb9204 -33.14%, #83e868 116.38%)
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: Sora;
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
        line-height: 50px;
      }
    }
  }
  &-list {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 23px 0px;
  }
  &-row {
    display: flex;
    gap: 23px;
    &:nth-of-type(3) {
      margin-top: 23px;
    }
    &:nth-of-type(4) {
      margin-top: 23px;
    }
  }
  &-item {
    &__heading {
      color: #f9f9f9;
      font-family: Sora;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 28px; /* 155.556% */
    }
    &__desc {
      color: #858b93;
      margin-top: 8px;
      font-family: Sora;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 171.429% */
      width: 176px;
    }
  }
  &-block {
    position: absolute;
    top: -104px;
    left: 45px;
    width: 203px;
    height: 62px;
    border-radius: 13px;
    background: rgba(0, 0, 0, 0.32);
    display: flex;
    align-items: center;
    gap: 16px;

    &__avt {
      width: 36px;
      height: 36px;
      flex-shrink: 0;
      border-radius: 36px;
      border: 1px solid #bdbdbd;
      background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    }
    &__desc {
      font-family: Sora;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 171.429% */
      background: linear-gradient(91deg, #f08d08 1.27%, #b88ed3 78.9%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      &--lv2 {
        margin: 0 22px;
        font-family: Sora;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 171.429% */
        background: linear-gradient(90deg, #0cce84 -3.41%, #ff2eb8 103.89%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      &--lv3 {
        font-family: Sora;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 171.429% */
        background: linear-gradient(90deg, #fd7566 1.48%, #6aea5c 101.48%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 0 18px;
      }
      &--lv4 {
        margin-top: -15px;
        font-family: "Sora";
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        background: none;
        -webkit-background-clip: initial;
        background-clip: initial;
        -webkit-text-fill-color: #ffffff;
        color: #ffffff;
      }
    }
    &__number {
      color: #f9f9f9;
      margin-top: 10px;
      font-family: "Sora";
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
  .block--lv2 {
    width: 220px;
    height: 62px;
    position: absolute;
    top: 212px;
    left: 21px;
  }
  .block--lv3 {
    width: 239px;
    height: 62px;
    position: absolute;
    top: 104px;
    left: 48%;
  }
  .block--lv4 {
    position: relative;
    width: 144px;
    height: 65px;
    flex-shrink: 0;
    background: rgba(255, 255, 255, 0.36);
    backdrop-filter: blur(15px);
    position: absolute;
    top: 8px;
    left: 32%;
    display: flex;
    flex-direction: column;
  }

  &-times {
    position: absolute;
    bottom: -87px;
    display: flex;
    align-items: center;
    &__time {
      color: #f9f9f9;
      font-family: Sora;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 171.429% */
      opacity: 0.6;
      margin: 0 38px;
    }
  }
  &-form {
    display: flex;
    gap: 0px 23px;
    align-items: flex-start;
    input.hidden {
      display: none;
    }
  }
  input.hidden:checked + &-custom::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    width: 9px;
    height: 5px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    rotate: (-45deg);
  }

  &-custom {
    cursor: pointer;
    display: block;
    position: relative;
    width: 20px;
    height: 19px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #0cce84;
    &--lv2 {
      background: #ef8f00;
    }
    &--lv3 {
      background: #ae8ff9;
    }
    &--lv4 {
      background: #ff7667;
    }
  }
}
.product {
  margin-top: 140px;
  &-bottom {
    display: flex;
  }

  &-top {
    &__tittle {
      color: var(--Text-Color-white, #f9f9f9);
      text-align: center;
      width: 497px;
      margin: 0 auto;
      font-family: Sora;
      font-size: 40px;
      font-style: normal;
      font-weight: 600;
      line-height: 50px; /* 125% */
      &--lv1 {
        background: var(
          --Primary-color-leniar-color,
          linear-gradient(90deg, #eb9204 -33.14%, #83e868 116.38%)
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: Sora;
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
        line-height: 50px;
      }
    }
    &__desc {
      color: var(--Text-Color-gray-1, #858b93);
      text-align: center;
      width: 747px;
      margin: 30px auto;
      font-family: Sora;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px; /* 162.5% */
    }
  }
  &-list {
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 17px;
  }
  &-item {
    cursor: pointer;
    &:hover {
      background: #ebebeb;
    }
    width: 169px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 23px;
    background: #282c30;
    display: flex;
    align-items: center;
    gap: 18px;
    &__desc {
      color: #858b93;
      text-align: center;
      font-family: Sora;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 14px; /* 100% */
    }
    &__icon {
      margin-left: 18px;
    }
  }
  &-bottom {
    margin-top: 75px;
    margin-left: 90px;
  }
  &-blackblock {
    margin-left: 20px;
  }
  &-round {
    width: 426px;
    height: 422px;
    flex-shrink: 0;
    border-radius: 19px;
    background: #191b1d;
    &--lv2 {
      width: 426px;
      height: 170px;
      flex-shrink: 0;
      border-radius: 19px;
      background: #191b1d;
    }
    &--lv3 {
      width: 426px;
      height: 230px;
      flex-shrink: 0;
      border-radius: 19px;
      background: #191b1d;
      margin-top: 15px;
    }
    &--lv4 {
      width: 209px;
      height: 422px;
      flex-shrink: 0;
      border-radius: 19px;
      background: #191b1d;
      margin-left: 15px;
    }
  }
  &-avatar {
    display: flex;
    &__avts {
      margin-left: -16px;
      width: 33px;
      height: 33px;
      flex-shrink: 0;
      border-radius: 33px;
      border: 1px solid #cd6336;
      background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    }
    &--lv1 {
      margin-right: 17px;
    }
  }
  &-items {
    display: flex;
    align-items: center;
    margin-left: 46px;

    &__heading {
      width: 231px;
      color: #fff;
      font-family: Sora;
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
      line-height: 32px; /* 145.455% */
      margin-top: 59px;
    }
    &__desc {
      color: #424b55;
      font-family: Sora;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-top: 12px;
    }
    &__dots {
      margin-left: 77px;
    }
  }
  &-column {
    margin-right: auto;
    &__heading {
      color: #fff;
      font-family: Sora;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      opacity: 0.67;
    }
    &__desc {
      color: #91969e;
      font-family: Sora;
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      opacity: 0.6;
    }
  }
  &-row {
    margin: 39px 46px;
  }
  &-rows {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
    width: 334px;
    height: 59px;
    flex-shrink: 0;
    border-radius: 9px;
    background: #313539;
  }
  &-rounds {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    background: red;
    border-radius: 50%;
    margin-left: 18px;
    margin-right: 19px;
  }
  &-ticket {
    width: 40.021px;
    height: 38.809px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #6aea5c;
    display: flex;
    justify-content: center;
    align-items: center;
    &__img {
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      flex-shrink: 0;
      border-radius: 5px;
      background: #23d12a;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__icon {
    }
  }
  &-ticket {
    margin-top: 28px;
  }
  &-blocktwo {
    margin-top: -97px;
    margin-left: 105px;
  }
  &-dottwo {
    margin-top: -73px;
    margin-left: 301px;
  }
  &-rowtwo {
    display: flex;
    align-items: center;
    margin-top: 74px;
    margin-left: 46px;
    gap: 40px;
    &__desc {
      color: #8b8b8f;
      font-family: Sora;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  &-rowtwos {
    display: flex;
    align-items: center;
    &__image {
      margin-left: -12px;
    }
  }
  &-rowfour {
    display: flex;
    align-items: center;
    &__heading {
      color: #fff;
      font-family: Sora;
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-left: 33px;
      margin-top: 25px;
    }
    &__dots {
      margin-left: 77px;
    }
  }
  &-listfour {
    margin-top: 21px;
    margin-left: 33px;
  }
  &-itemfour {
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 9px;
    position: relative;
    &__imaging {
      width: 34px;
      height: 34px;
      flex-shrink: 0;
      border-radius: 34px;
      background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    }
    &__desc {
      color: #fff;
      font-family: Sora;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      opacity: 0.8;
      &::before {
        content: "";
        display: inline-block;
        width: 7px;
        height: 7px;
        flex-shrink: 0;
        border-radius: 50%;
        background: #23d12a;
        position: absolute;
        top: 22px;
        left: 27px;
      }
    }
  }
  &-separates {
    border-bottom: 1px solid #25282b;
    padding-top: 8px;
    width: 143px;
  }
  &-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 129px;
    height: 37px;
    flex-shrink: 0;
    border-radius: 7px;
    background: #ef8f00;
    margin-left: 7px;
    margin-top: 12px;
    &:hover {
      background: #ebebeb;
    }
    &__button {
      color: #fff;
      font-family: Sora;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }
}
.picture {
  margin-top: 140px;
  &-top {
    display: flex;
    align-items: center;

    &__heading {
      color: #f9f9f9;
      width: 493px;
      font-family: Sora;
      font-size: 40px;
      font-style: normal;
      font-weight: 600;
      line-height: 50px; /* 125% */
      margin-right: 364px;
      &--lv1 {
        background: linear-gradient(90deg, #eb9204 -33.14%, #83e868 116.38%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: Sora;
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
        line-height: 50px;
      }
    }
  }
  &-btn {
    width: 218px;
    height: 68px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 2px solid #36383e;
    background: #131517;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    &__desc {
      font-family: Sora;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 18px; /* 100% */
      background: var(
        --Primary-color-leniar-color,
        linear-gradient(90deg, #eb9204 -33.14%, #83e868 116.38%)
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      cursor: pointer;
    }
  }
  &-list {
    margin-top: 67px;
  }
  &-item {
    display: flex;
    flex-direction: column;
    width: 493px;
    height: 158px;
    flex-shrink: 0;
    cursor: pointer;
    border-radius: 15px;
    background: #131517;
    margin-top: 17px;
    &:hover {
      background: #282c30;
      border: 1px solid #ebebeb;
      transition: 0.3s ease;
    }
    &__tittle {
      position: relative;
      margin-top: 29px;
      margin-left: 40px;
      color: #f9f9f9;
      font-family: Sora;
      font-size: 28px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      &::after {
        display: inline-block;
        content: "";
        border-radius: 50%;
        width: 8px;
        height: 8px;
        flex-shrink: 0;
        background: #ef8f00;
        position: absolute;
        left: 50%;
        transform: translateY(50%);
        top: 35%;
      }
      &--lv2 {
        &::after {
          display: inline-block;
          content: "";
          border-radius: 50%;
          width: 8px;
          height: 8px;
          flex-shrink: 0;
          background: #0cce84;
          position: absolute;
          left: 45%;
          transform: translateY(50%);
          top: 35%;
        }
      }
      &--lv3 {
        &::after {
          display: inline-block;
          content: "";
          border-radius: 50%;
          width: 8px;
          height: 8px;
          flex-shrink: 0;
          background: #ff7667;
          position: absolute;
          left: 33%;
          transform: translateY(50%);
          top: 35%;
        }
      }
    }
    &__desc {
      margin-left: 40px;
      width: 388px;
      color: #858b93;
      margin-top: 9px;
      font-family: Sora;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
    }
  }
  &-image {
    position: relative;
    &__img {
      margin-top: -82px;
      position: absolute;
      top: 0;
      &:nth-of-type(2) {
        margin-top: -82px;
        position: absolute;
        top: 160px;
        margin-left: 200px;
      }
      &:nth-of-type(3) {
        margin-top: -82px;
        position: absolute;
        top: 358px;
        left: 25px;
      }
    }
  }
  &-separate {
    margin-top: 135px;
    width: 1008.5px;
    height: 0px;
    flex-shrink: 0;
    border-radius: 50%;
    border: 1px solid #282c30;
    margin-left: 156px;
  }
}
.refreshing {
  margin-top: 70px;
  &-top {
    &__heading {
      width: 512px;
      margin: 0 auto;
      text-align: center;
      font-family: Sora;
      font-size: 40px;
      font-style: normal;
      font-weight: 600;
      line-height: 50px; /* 125% */
      color: #f9f9f9;

      &--lv1 {
        background: var(
          --Primary-color-leniar-color,
          linear-gradient(90deg, #eb9204 -33.14%, #83e868 116.38%)
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
  &-list {
    margin: 56px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 26px;
  }
  &-items {
    position: relative;
    &__image {
      margin: 21px 20px 0px 20px;
    }
  }
  &-rows {
    position: absolute;
    top: 218px;
    left: 84px;
    right: 84px;
    width: 139px;
    height: 36px;
    flex-shrink: 0;
    margin: 0 auto;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(54.5px);
    display: flex;
    justify-content: center;
    align-items: center;
    &__desc {
      color: #fff;
      text-align: center;
      font-family: Sora;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: 18px; /* 150% */
    }
  }
  &-item {
    cursor: pointer;
    width: 348px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #282c30;
    &__tittle {
      width: 190px;
      margin: 0 auto;
      color: #f9f9f9;
      text-align: center;
      margin-top: 52px;
      font-family: Sora;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px; /* 162.5% */
    }
    &__row {
      margin: 18px 55px 0px 55px;
    }
  }
  &-row {
    margin-top: 24px;
    margin-left: 231px;
    gap: 7px;
    display: flex;
    align-items: center;
    &__desc {
      color: #858b93;
      text-align: center;
      opacity: 0.6;
      font-family: Sora;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: 18px; /* 150% */
    }
  }
}
.information {
  margin-top: 140px;
  &-rowitem {
    display: flex;
    align-items: center;
    gap: 32px;
    justify-content: center;
  }
  &-list {
    display: flex;
    width: 385px;
    height: 308px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #282c30;
    background: #131517;
  }
  &-item {
    cursor: pointer;
    &:hover {
      border: 1px solid #25282b;
      background: #282c30;
      .information-item__img {
        filter: brightness(0) saturate(100%) invert(66%) sepia(25%)
          saturate(757%) hue-rotate(108deg) brightness(94%) contrast(92%);
      }
    }
    &__heading {
      color: #858b93;
      opacity: 0.8;
      margin: 27px 40px 0px 40px;
      width: 304px;
      font-family: Sora;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px; /* 162.5% */
    }
    &__img {
      margin-left: 256px;
      margin-top: 29px;
      &--lv1 {
        rotate: 180deg;
      }
    }
  }
  &-content {
    margin-left: 20px;
    &__desc {
      color: #858b93;
      font-family: Sora;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
    }
    &__tittle {
      color: #f9f9f9;
      font-family: Sora;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 28px; /* 155.556% */
    }
  }
  &-people {
    margin-top: 27px;
    display: flex;
    align-items: center;
    &__avt {
      margin-left: 41px;
      width: 38px;
      height: 38px;
      flex-shrink: 0;
      border-radius: 38px;
      background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    }
  }
  &-star {
    margin-left: 52px;
  }
  &-control {
    margin-top: 50px;
    margin-left: 1057px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px 49px;
    &__btn {
      cursor: pointer;
      width: 36px;
      height: 36px;
      flex-shrink: 0;
      color: #858b93;
      border-radius: 36px;
      border: 1px solid #858b93;
      &:hover {
        color: #ef8f00;
        border-color: #2e80ce;
        background: #2e80ce;
        cursor: pointer;
      }
    }
    &__icon {
      rotate: 180deg;
    }
  }
}
.footer {
  margin-top: 228px;
  &-top {
    margin-left: 83px;
    display: flex;
    align-items: center;
  }
  &__desc {
    margin-left: 406px;
    color: #858b93;
    font-family: Sora;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 145.455% */
  }
  &-btn {
    margin-left: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 165px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 9px;
    background: linear-gradient(90deg, #eb9204 -33.14%, #83e868 116.38%);
    &__button {
      cursor: pointer;
      color: #f9f9f9;
      text-align: center;
      font-family: Sora;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px; /* 162.5% */
    }
  }
  &-separate {
    width: 1096px;
    height: 0px;
    flex-shrink: 0;
    border: 1px solid #272633;
    margin-top: 42px;
    margin-left: 66px;
  }
  &-column {
    margin-left: 66px;
    &:nth-of-type(2) {
      margin-left: 154px;
    }
    &__heading {
      color: #f9f9f9;
      font-family: Sora;
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
      line-height: 32px; /* 145.455% */
    }
  }
  &-list {
    &__heading {
      color: #f9f9f9;
      font-family: Sora;
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
      line-height: 32px; /* 145.455% */
      margin-bottom: 22px;
    }
    &__link {
      color: #858b93;
      font-family: Sora;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 38px; /* 211.111% */
    }
  }
  &-row {
    display: flex;
    align-items: flex-start;
    margin-top: 70px;
  }
  &-form {
    margin-top: 44px;
    display: flex;
    align-items: center;
    width: 307px;
    height: 51px;
    flex-shrink: 0;
    border-radius: 26px;
    border: 1px solid #272633;
    &__text {
      margin-left: 25px;
      background: none;
      outline: none;
      border: none;
      color: #858b93;
      font-family: Poppins;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px; /* 185.714% */
    }
    &__btn {
      margin-left: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 38px;
      height: 38px;
      flex-shrink: 0;
      border-radius: 38px;
      background: linear-gradient(90deg, #eb9204 -33.14%, #83e868 116.38%);
    }
    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &-social {
    margin-top: 45px;
    display: flex;
    align-items: center;
    gap: 0 32px;

    &__icons {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 38px;
      height: 38px;
      flex-shrink: 0;
      border-radius: 38px;
      background: #272633;
      backdrop-filter: blur(5px);
    }
  }
}
