/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #131517;
  font-size: 16px;
  font-family: "Sora", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background: transparent;
}

button,
input,
textarea,
select {
  font-family: inherit;
  color: inherit;
}

i,
em {
  font-style: italic;
}

b,
strong {
  font-weight: 600;
}

.row > *, .container-fluid, .container {
  padding-left: calc(var(--grid-gutter-x) * 0.5);
  padding-right: calc(var(--grid-gutter-x) * 0.5);
}

.container-fluid, .container {
  --grid-gutter-x: 30px;
  --grid-gutter-y: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--grid-gutter-y) * -1);
  margin-left: calc(var(--grid-gutter-x) * 0.5 * -1);
  margin-right: calc(var(--grid-gutter-x) * 0.5 * -1);
}
.row > * {
  margin-top: var(--grid-gutter-y);
}

.col {
  flex: 1 0;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.offset-0 {
  margin-left: 0;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.g-0,
.gx-0 {
  --grid-gutter-x: 0px;
}

.g-0,
.gy-0 {
  --grid-gutter-y: 0px;
}

.g-1,
.gx-1 {
  --grid-gutter-x: 7.5px;
}

.g-1,
.gy-1 {
  --grid-gutter-y: 7.5px;
}

.g-2,
.gx-2 {
  --grid-gutter-x: 15px;
}

.g-2,
.gy-2 {
  --grid-gutter-y: 15px;
}

.g-3,
.gx-3 {
  --grid-gutter-x: 30px;
}

.g-3,
.gy-3 {
  --grid-gutter-y: 30px;
}

.g-4,
.gx-4 {
  --grid-gutter-x: 45px;
}

.g-4,
.gy-4 {
  --grid-gutter-y: 45px;
}

.g-5,
.gx-5 {
  --grid-gutter-x: 90px;
}

.g-5,
.gy-5 {
  --grid-gutter-y: 90px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
  .g-sm-0,
  .gx-sm-0 {
    --grid-gutter-x: 0px;
  }
  .g-sm-0,
  .gy-sm-0 {
    --grid-gutter-y: 0px;
  }
  .g-sm-1,
  .gx-sm-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-sm-1,
  .gy-sm-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-sm-2,
  .gx-sm-2 {
    --grid-gutter-x: 15px;
  }
  .g-sm-2,
  .gy-sm-2 {
    --grid-gutter-y: 15px;
  }
  .g-sm-3,
  .gx-sm-3 {
    --grid-gutter-x: 30px;
  }
  .g-sm-3,
  .gy-sm-3 {
    --grid-gutter-y: 30px;
  }
  .g-sm-4,
  .gx-sm-4 {
    --grid-gutter-x: 45px;
  }
  .g-sm-4,
  .gy-sm-4 {
    --grid-gutter-y: 45px;
  }
  .g-sm-5,
  .gx-sm-5 {
    --grid-gutter-x: 90px;
  }
  .g-sm-5,
  .gy-sm-5 {
    --grid-gutter-y: 90px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
  .g-md-0,
  .gx-md-0 {
    --grid-gutter-x: 0px;
  }
  .g-md-0,
  .gy-md-0 {
    --grid-gutter-y: 0px;
  }
  .g-md-1,
  .gx-md-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-md-1,
  .gy-md-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-md-2,
  .gx-md-2 {
    --grid-gutter-x: 15px;
  }
  .g-md-2,
  .gy-md-2 {
    --grid-gutter-y: 15px;
  }
  .g-md-3,
  .gx-md-3 {
    --grid-gutter-x: 30px;
  }
  .g-md-3,
  .gy-md-3 {
    --grid-gutter-y: 30px;
  }
  .g-md-4,
  .gx-md-4 {
    --grid-gutter-x: 45px;
  }
  .g-md-4,
  .gy-md-4 {
    --grid-gutter-y: 45px;
  }
  .g-md-5,
  .gx-md-5 {
    --grid-gutter-x: 90px;
  }
  .g-md-5,
  .gy-md-5 {
    --grid-gutter-y: 90px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
  .g-lg-0,
  .gx-lg-0 {
    --grid-gutter-x: 0px;
  }
  .g-lg-0,
  .gy-lg-0 {
    --grid-gutter-y: 0px;
  }
  .g-lg-1,
  .gx-lg-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-lg-1,
  .gy-lg-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-lg-2,
  .gx-lg-2 {
    --grid-gutter-x: 15px;
  }
  .g-lg-2,
  .gy-lg-2 {
    --grid-gutter-y: 15px;
  }
  .g-lg-3,
  .gx-lg-3 {
    --grid-gutter-x: 30px;
  }
  .g-lg-3,
  .gy-lg-3 {
    --grid-gutter-y: 30px;
  }
  .g-lg-4,
  .gx-lg-4 {
    --grid-gutter-x: 45px;
  }
  .g-lg-4,
  .gy-lg-4 {
    --grid-gutter-y: 45px;
  }
  .g-lg-5,
  .gx-lg-5 {
    --grid-gutter-x: 90px;
  }
  .g-lg-5,
  .gy-lg-5 {
    --grid-gutter-y: 90px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xl-0,
  .gx-xl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xl-0,
  .gy-xl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xl-1,
  .gx-xl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xl-1,
  .gy-xl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xl-2,
  .gx-xl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xl-2,
  .gy-xl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xl-3,
  .gx-xl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xl-3,
  .gy-xl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xl-4,
  .gx-xl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xl-4,
  .gy-xl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xl-5,
  .gx-xl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xl-5,
  .gy-xl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1340px;
  }
  .row-cols-xxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xxl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xxl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xxl-0 {
    margin-left: 0;
  }
  .offset-xxl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xxl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .offset-xxl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xxl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
  .offset-xxl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xxl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
  .offset-xxl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xxl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xxl-0,
  .gx-xxl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xxl-0,
  .gy-xxl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xxl-1,
  .gx-xxl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xxl-1,
  .gy-xxl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xxl-2,
  .gx-xxl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xxl-2,
  .gy-xxl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xxl-3,
  .gx-xxl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xxl-3,
  .gy-xxl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xxl-4,
  .gx-xxl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xxl-4,
  .gy-xxl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xxl-5,
  .gx-xxl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xxl-5,
  .gy-xxl-5 {
    --grid-gutter-y: 90px;
  }
}
.header {
  display: flex;
  align-items: center;
  padding-top: 50px;
}

.logo__header {
  width: 86.973px;
  height: 18.844px;
  flex-shrink: 0;
}

.nav {
  display: flex;
  align-items: center;
  margin-left: 274px;
}
.nav__link {
  color: #858b93;
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin: 0 36px;
}
.nav__link--lv1 {
  color: #f9f9f9;
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  position: relative;
}
.nav__link--lv1::before {
  display: inline-block;
  content: "";
  width: 21px;
  height: 2px;
  background: #6aea5c;
  position: absolute;
  bottom: 10px;
  top: 20px;
  left: 0;
  transform: translateY(-50%);
}

.btn {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #272633;
  background: #131517;
}
.btn__text {
  text-align: center;
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  background: var(--Primary-color-leniar-color, linear-gradient(90deg, #eb9204 -33.14%, #83e868 116.38%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.management {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
.management-left__thumb {
  margin: 0 27px;
}
.management-right__thumb {
  margin: 0 27px;
}
.management-center__tittle {
  color: #f9f9f9;
  width: 783px;
  text-align: center;
  font-family: Sora;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px; /* 116.667% */
  margin-top: 62px;
}
.management-center__desc {
  color: #858b93;
  margin-top: 34px;
  text-align: center;
  display: block;
  margin: 34px auto;
  width: 447px;
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.management-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 44px;
}
.management-btn__button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f9f9f9;
  text-align: center;
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  width: 199px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #282c30;
  box-shadow: 1px 8px 45px 0px rgba(0, 0, 0, 0.25);
}
.management-btn__button:hover {
  background-color: #ebebeb;
  color: #131517;
}
.management-btn__button--lv1 {
  width: 199px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 8px;
  background: linear-gradient(90deg, #eb9204 -33.14%, #83e868 116.38%);
}

.management-bottom {
  position: relative;
  margin-top: 111px;
}
.management-bottom__image {
  margin: 0 auto;
  display: block;
}

.management-collection {
  width: 216px;
  height: 335px;
  flex-shrink: 0;
  border-radius: 15px 15px 22px 22px;
  background: #0d1012;
  position: absolute;
  top: 177px;
  left: 75px;
}

.management-top {
  display: flex;
  align-items: center;
  gap: 65px;
  margin-left: 25px;
  margin-top: 26px;
}
.management-top__tittle {
  color: #f9f9f9;
  font-family: Sora;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.management-list {
  margin-top: 21px;
}

.management-item {
  padding: 12px 13px 10px 12px;
}

.management-item {
  width: 188px;
  height: 78px;
  flex-shrink: 0;
  border-radius: 13px;
  background: #14181b;
  margin: 7px 15px;
}

.management-column__tittle {
  color: #fff;
  font-family: Sora;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.management-column__desc {
  color: var(--Text-Color-gray-1, #858b93);
  font-family: Sora;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.management-row {
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.management-row__desc {
  color: #858b93;
  font-family: Sora;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.management-rows {
  display: flex;
  align-items: center;
  gap: 10px;
}

.management-block {
  width: 33px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #ff7667;
}
.management-block--lv2 {
  background: #ae8ff9;
}
.management-block--lv3 {
  background: #0cce84;
}

.technology {
  width: 1096px;
  height: 331px;
  flex-shrink: 0;
  border-radius: 27px;
  background: #282c30;
  margin: 286px auto;
}
.technology-list {
  display: flex;
  align-items: center;
  gap: 15px;
}
.technology-item {
  margin: 71px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.technology-item__tittle {
  color: #f9f9f9;
  margin-top: 30px;
  font-family: Sora;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 145.455% */
}
.technology-item__desc {
  color: var(--Text-Color-gray-1, #858b93);
  text-align: center;
  margin-top: 5px;
  width: 238px;
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.technology-round {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 62px;
  background: #0cce84;
  border-radius: 50%;
}
.technology-round--lv2 {
  background: #ef8f00;
}
.technology-round--lv3 {
  background: #ae8ff9;
}
.technology-round__image {
  object-fit: cover;
}
.technology-separate {
  display: flex;
  align-items: center;
  width: 194.5px;
  height: 0;
  border-top: 1px dashed #858c94;
  flex-shrink: 0;
  margin-bottom: 157px;
  margin-left: -50px;
}

.number {
  margin-top: 140px;
}
.number-left__tittle {
  color: #f9f9f9;
  width: 368px;
  font-family: Sora;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.number-left__tittle--lv1 {
  background: linear-gradient(90deg, #eb9204 -33.14%, #83e868 116.38%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Sora;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.number-left__desc {
  color: #858b93;
  margin-top: 22px;
  width: 537px;
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.number-right {
  position: relative;
}
.number-right__image {
  margin-top: 142px;
  margin-left: 243px;
  display: flex;
  align-items: center;
}
.number-row {
  display: flex;
  margin-top: 86px;
  gap: 17px;
  top: 10px;
}
.number-list {
  width: 132px;
  height: 127px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
  background: #272633;
}
.number-list--lv1 {
  background: linear-gradient(192deg, #c4f566 -43.72%, #ae8ef9 -5.87%, #ef8f00 52.36%, #61e559 122.78%);
  position: relative;
  top: 34px;
}
.number-item__numbers {
  color: #f9f9f9;
  text-align: center;
  font-family: Sora;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: block;
}
.number-item__desc {
  margin-top: 12px;
  color: #858b93;
  text-align: center;
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.number-item__desc--lv1 {
  width: 61px;
  color: #f9f9f9;
  text-align: center;
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.number-dot {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 91px;
  left: -104px;
  gap: 6px;
}
.number-dot__dots {
  width: 6px;
  height: 6px;
  flex-shrink: 0;
  border-radius: 6px;
  opacity: 0.3;
  background: #f9f9f9;
}
.number-dot__dots--lv1 {
  background: #ef8f00;
  opacity: 1;
}
.number-rounds {
  width: 336px;
  height: 336px;
  flex-shrink: 0;
  border-radius: 336px;
  border: 2px dashed #2f2f2f;
  position: absolute;
  top: -63px;
  left: 179px;
}
.number-rounded {
  position: absolute;
  width: 455px;
  height: 455px;
  flex-shrink: 0;
  border-radius: 455px;
  border: 2px dashed #2f2f2f;
  top: -118px;
  left: 119px;
}
.number-blue {
  display: flex;
  align-items: center;
  gap: 45px;
  width: 225px;
  height: 61px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #27292c;
}
.number-blue--lv1 {
  display: flex;
  gap: 61px;
}
.number-blue--lv2 {
  display: flex;
  gap: 87px;
}
.number-blue--lv3 {
  display: flex;
  gap: 10px;
}
.number-blue:nth-of-type(1) {
  position: absolute;
  top: -84px;
  left: 37px;
}
.number-blue:nth-of-type(2) {
  position: absolute;
  top: -106px;
  right: 20px;
}
.number-blue:nth-of-type(3) {
  position: absolute;
  top: 195px;
  left: 20px;
}
.number-blue:nth-of-type(4) {
  position: absolute;
  top: 282px;
  right: 20px;
}
.number-blue__desc {
  margin-left: 19px;
  text-align: center;
  font-family: Sora;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: linear-gradient(90deg, #ef8f00 -6.27%, #ff7667 90.08%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.number-blue__desc--lv1 {
  margin-left: 23px;
  background: linear-gradient(90deg, #0cce84 3.45%, #ae8ef9 99.07%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.number-blue__desc--lv2 {
  margin-left: 30px;
  background: linear-gradient(93deg, #c4f566 -11.2%, #ff6e6e 123.12%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.number-blue__desc--lv3 {
  background: linear-gradient(93deg, #c4f566 -11.2%, #ff6e6e 123.12%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 15px;
  margin-right: 43px;
}
.number-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  background: #363a3e;
  border-radius: 50%;
}
.number-image--lv1 {
  margin-left: 18px;
}
.number-avatar {
  display: flex;
  align-items: center;
}
.number-avatar__avt {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 32px;
  border: 1px solid #c531f9;
  background: url(<path-to-image>) lightgray 50%/cover no-repeat;
  margin-left: -14px;
}

.chart {
  margin-top: 320px;
}
.chart-left {
  position: relative;
}
.chart-arrow {
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 8px solid rgba(255, 255, 255, 0.36);
}
.chart-separate {
  width: 0px;
  height: 371px;
  border: 1.5px dashed #d0d0d0;
  position: absolute;
  top: -21%;
  left: 10%;
}
.chart-separate:nth-of-type(2) {
  margin-left: 98px;
  width: 0px;
  height: 371px;
  border: 1.5px dashed #d0d0d0;
  position: absolute;
  top: -21%;
  left: 10%;
}
.chart-separate:nth-of-type(3) {
  width: 0px;
  height: 371px;
  border: 1.5px dashed #d0d0d0;
  position: absolute;
  top: -21%;
  left: 12%;
  margin-left: 200px;
}
.chart-separate:nth-of-type(4) {
  width: 0px;
  height: 371px;
  border: 1.5px dashed #d0d0d0;
  position: absolute;
  top: -21%;
  left: 10%;
  margin-left: 327px;
}
.chart-backgr {
  width: 267px;
  height: 267px;
  flex-shrink: 0;
  border-radius: 267px;
  background: linear-gradient(180deg, #6aea5c 0%, #fd7566 48.53%, #ef8f00 100%);
  filter: blur(66px);
  margin-left: 85px;
}
.chart-right__tittle {
  color: var(--Text-Color-white, #f9f9f9);
  font-family: Sora;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px; /* 125% */
  width: 399px;
}
.chart-right__tittle--lv1 {
  background: var(--Primary-color-leniar-color, linear-gradient(90deg, #eb9204 -33.14%, #83e868 116.38%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Sora;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px;
}
.chart-list {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.chart-row {
  display: flex;
  gap: 23px;
}
.chart-row:nth-of-type(3) {
  margin-top: 23px;
}
.chart-row:nth-of-type(4) {
  margin-top: 23px;
}
.chart-item__heading {
  color: #f9f9f9;
  font-family: Sora;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 155.556% */
}
.chart-item__desc {
  color: #858b93;
  margin-top: 8px;
  font-family: Sora;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  width: 176px;
}
.chart-block {
  position: absolute;
  top: -104px;
  left: 45px;
  width: 203px;
  height: 62px;
  border-radius: 13px;
  background: rgba(0, 0, 0, 0.32);
  display: flex;
  align-items: center;
  gap: 16px;
}
.chart-block__avt {
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  border-radius: 36px;
  border: 1px solid #bdbdbd;
  background: url(<path-to-image>) lightgray 50%/cover no-repeat;
}
.chart-block__desc {
  font-family: Sora;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  background: linear-gradient(91deg, #f08d08 1.27%, #b88ed3 78.9%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.chart-block__desc--lv2 {
  margin: 0 22px;
  font-family: Sora;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  background: linear-gradient(90deg, #0cce84 -3.41%, #ff2eb8 103.89%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.chart-block__desc--lv3 {
  font-family: Sora;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  background: linear-gradient(90deg, #fd7566 1.48%, #6aea5c 101.48%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 18px;
}
.chart-block__desc--lv4 {
  margin-top: -15px;
  font-family: "Sora";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: none;
  -webkit-background-clip: initial;
  background-clip: initial;
  -webkit-text-fill-color: #ffffff;
  color: #ffffff;
}
.chart-block__number {
  color: #f9f9f9;
  margin-top: 10px;
  font-family: "Sora";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.chart .block--lv2 {
  width: 220px;
  height: 62px;
  position: absolute;
  top: 212px;
  left: 21px;
}
.chart .block--lv3 {
  width: 239px;
  height: 62px;
  position: absolute;
  top: 104px;
  left: 48%;
}
.chart .block--lv4 {
  position: relative;
  width: 144px;
  height: 65px;
  flex-shrink: 0;
  background: rgba(255, 255, 255, 0.36);
  backdrop-filter: blur(15px);
  position: absolute;
  top: 8px;
  left: 32%;
  display: flex;
  flex-direction: column;
}
.chart-times {
  position: absolute;
  bottom: -87px;
  display: flex;
  align-items: center;
}
.chart-times__time {
  color: #f9f9f9;
  font-family: Sora;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  opacity: 0.6;
  margin: 0 38px;
}
.chart-form {
  display: flex;
  gap: 23px;
  align-items: flex-start;
}

.product {
  margin-top: 140px;
}
.product-bottom {
  display: flex;
}
.product-top__tittle {
  color: var(--Text-Color-white, #f9f9f9);
  text-align: center;
  width: 497px;
  margin: 0 auto;
  font-family: Sora;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px; /* 125% */
}
.product-top__tittle--lv1 {
  background: var(--Primary-color-leniar-color, linear-gradient(90deg, #eb9204 -33.14%, #83e868 116.38%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Sora;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px;
}
.product-top__desc {
  color: var(--Text-Color-gray-1, #858b93);
  text-align: center;
  width: 747px;
  margin: 30px auto;
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.product-list {
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 17px;
}
.product-item {
  cursor: pointer;
  width: 169px;
  height: 46px;
  flex-shrink: 0;
  border-radius: 23px;
  background: #282c30;
  display: flex;
  align-items: center;
  gap: 18px;
}
.product-item:hover {
  background: #ebebeb;
}
.product-item__desc {
  color: #858b93;
  text-align: center;
  font-family: Sora;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 100% */
}
.product-item__icon {
  margin-left: 18px;
}
.product-bottom {
  margin-top: 75px;
  margin-left: 90px;
}
.product-blackblock {
  margin-left: 20px;
}
.product-round {
  width: 426px;
  height: 422px;
  flex-shrink: 0;
  border-radius: 19px;
  background: #191b1d;
}
.product-round--lv2 {
  width: 426px;
  height: 170px;
  flex-shrink: 0;
  border-radius: 19px;
  background: #191b1d;
}
.product-round--lv3 {
  width: 426px;
  height: 230px;
  flex-shrink: 0;
  border-radius: 19px;
  background: #191b1d;
  margin-top: 15px;
}
.product-round--lv4 {
  width: 209px;
  height: 422px;
  flex-shrink: 0;
  border-radius: 19px;
  background: #191b1d;
  margin-left: 15px;
}
.product-avatar {
  display: flex;
}
.product-avatar__avts {
  margin-left: -16px;
  width: 33px;
  height: 33px;
  flex-shrink: 0;
  border-radius: 33px;
  border: 1px solid #cd6336;
  background: url(<path-to-image>) lightgray 50%/cover no-repeat;
}
.product-items {
  display: flex;
  align-items: center;
  margin-left: 46px;
}
.product-items__heading {
  width: 231px;
  color: #fff;
  font-family: Sora;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 145.455% */
  margin-top: 59px;
}
.product-items__desc {
  color: #424b55;
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 12px;
}
.product-items__dots {
  margin-left: 77px;
}
.product-column {
  margin-right: auto;
}
.product-column__heading {
  color: #fff;
  font-family: Sora;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.67;
}
.product-column__desc {
  color: #91969e;
  font-family: Sora;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.6;
}
.product-row {
  margin: 39px 46px;
}
.product-rows {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  width: 334px;
  height: 59px;
  flex-shrink: 0;
  border-radius: 9px;
  background: #313539;
}
.product-rounds {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  background: red;
  border-radius: 50%;
  margin-left: 18px;
  margin-right: 19px;
}
.product-ticket {
  width: 40.021px;
  height: 38.809px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #6aea5c;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-ticket__img {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-shrink: 0;
  border-radius: 5px;
  background: #23d12a;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-ticket {
  margin-top: 28px;
}
.product-blocktwo {
  margin-top: -97px;
  margin-left: 105px;
}
.product-dottwo {
  margin-top: -73px;
  margin-left: 301px;
}
.product-rowtwo {
  display: flex;
  align-items: center;
  margin-top: 74px;
  margin-left: 46px;
  gap: 40px;
}
.product-rowtwo__desc {
  color: #8b8b8f;
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.product-rowtwos {
  display: flex;
  align-items: center;
}
.product-rowtwos__image {
  margin-left: -12px;
}
.product-rowfour {
  display: flex;
  align-items: center;
}
.product-rowfour__heading {
  color: #fff;
  font-family: Sora;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 33px;
  margin-top: 25px;
}
.product-rowfour__dots {
  margin-left: 77px;
}
.product-listfour {
  margin-top: 21px;
  margin-left: 33px;
}
.product-itemfour {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 9px;
  position: relative;
}
.product-itemfour__imaging {
  width: 34px;
  height: 34px;
  flex-shrink: 0;
  border-radius: 34px;
  background: url(<path-to-image>) lightgray 50%/cover no-repeat;
}
.product-itemfour__desc {
  color: #fff;
  font-family: Sora;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.8;
}
.product-itemfour__desc::before {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  flex-shrink: 0;
  border-radius: 50%;
  background: #23d12a;
  position: absolute;
  top: 22px;
  left: 27px;
}
.product-separates {
  border-bottom: 1px solid #25282b;
  padding-top: 8px;
  width: 143px;
}
.product-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 129px;
  height: 37px;
  flex-shrink: 0;
  border-radius: 7px;
  background: #ef8f00;
  margin-left: 7px;
  margin-top: 12px;
}
.product-btn:hover {
  background: #ebebeb;
}
.product-btn__button {
  color: #fff;
  font-family: Sora;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.picture {
  margin-top: 140px;
}
.picture-top {
  display: flex;
  align-items: center;
}
.picture-top__heading {
  color: #f9f9f9;
  width: 493px;
  font-family: Sora;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px; /* 125% */
  margin-right: 364px;
}
.picture-top__heading--lv1 {
  background: linear-gradient(90deg, #eb9204 -33.14%, #83e868 116.38%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Sora;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px;
}
.picture-btn {
  width: 218px;
  height: 68px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 2px solid #36383e;
  background: #131517;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.picture-btn__desc {
  font-family: Sora;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 100% */
  background: var(--Primary-color-leniar-color, linear-gradient(90deg, #eb9204 -33.14%, #83e868 116.38%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
.picture-list {
  margin-top: 67px;
}
.picture-item {
  display: flex;
  flex-direction: column;
  width: 493px;
  height: 158px;
  flex-shrink: 0;
  cursor: pointer;
  border-radius: 15px;
  background: #131517;
  margin-top: 17px;
}
.picture-item:hover {
  background: #282c30;
  border: 1px solid #ebebeb;
  transition: 0.3s ease;
}
.picture-item__tittle {
  position: relative;
  margin-top: 29px;
  margin-left: 40px;
  color: #f9f9f9;
  font-family: Sora;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.picture-item__tittle::after {
  display: inline-block;
  content: "";
  border-radius: 50%;
  width: 8px;
  height: 8px;
  flex-shrink: 0;
  background: #ef8f00;
  position: absolute;
  left: 50%;
  transform: translateY(50%);
  top: 50%;
}
.picture-item__desc {
  margin-left: 40px;
  width: 388px;
  color: #858b93;
  margin-top: 9px;
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.picture-image {
  position: relative;
}
.picture-image__img {
  margin-top: -82px;
  position: absolute;
  top: 0;
}
.picture-image__img:nth-of-type(2) {
  margin-top: -82px;
  position: absolute;
  top: 160px;
  margin-left: 200px;
}
.picture-image__img:nth-of-type(3) {
  margin-top: -82px;
  position: absolute;
  top: 358px;
  left: 25px;
}
.picture-separate {
  margin-top: 135px;
  width: 1008.5px;
  height: 0px;
  flex-shrink: 0;
  border-radius: 50%;
  border: 1px solid #282c30;
  margin-left: 156px;
}

.refreshing {
  margin-top: 70px;
}
.refreshing-top__heading {
  width: 512px;
  margin: 0 auto;
  text-align: center;
  font-family: Sora;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px; /* 125% */
  color: #f9f9f9;
}
.refreshing-top__heading--lv1 {
  background: var(--Primary-color-leniar-color, linear-gradient(90deg, #eb9204 -33.14%, #83e868 116.38%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.refreshing-list {
  margin: 56px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 26px;
}
.refreshing-items {
  position: relative;
}
.refreshing-items__image {
  margin: 21px 20px 0px 20px;
}
.refreshing-rows {
  position: absolute;
  top: 218px;
  left: 84px;
  right: 84px;
  width: 139px;
  height: 36px;
  flex-shrink: 0;
  margin: 0 auto;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(54.5px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.refreshing-rows__desc {
  color: #fff;
  text-align: center;
  font-family: Sora;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 150% */
}
.refreshing-item {
  width: 348px;
  height: 500px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #282c30;
}
.refreshing-item__tittle {
  width: 190px;
  margin: 0 auto;
  color: #f9f9f9;
  text-align: center;
  margin-top: 52px;
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.refreshing-item__row {
  margin: 18px 55px 0px 55px;
}
.refreshing-row {
  margin-top: 24px;
  margin-left: 231px;
  gap: 7px;
  display: flex;
  align-items: center;
}
.refreshing-row__desc {
  color: #858b93;
  text-align: center;
  opacity: 0.6;
  font-family: Sora;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 150% */
}

.information {
  margin-top: 140px;
}
.information-rowitem {
  display: flex;
  align-items: center;
  gap: 32px;
  justify-content: center;
}
.information-list {
  display: flex;
  width: 385px;
  height: 308px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #282c30;
  background: #131517;
}
.information-item:hover {
  border: 1px solid #25282b;
  background: #282c30;
}
.information-item:hover .information-item__img {
  filter: brightness(0) saturate(100%) invert(52%) sepia(94%) saturate(600%) hue-rotate(90deg);
}
.information-item__heading {
  color: #858b93;
  opacity: 0.8;
  margin: 27px 40px 0px 40px;
  width: 304px;
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.information-item__img {
  margin-left: 256px;
  margin-top: 29px;
}
.information-item__img--lv1 {
  rotate: 180deg;
}
.information-content {
  margin-left: 20px;
}
.information-content__desc {
  color: #858b93;
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.information-content__tittle {
  color: #f9f9f9;
  font-family: Sora;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 155.556% */
}
.information-people {
  margin-top: 27px;
  display: flex;
  align-items: center;
}
.information-people__avt {
  margin-left: 41px;
  width: 38px;
  height: 38px;
  flex-shrink: 0;
  border-radius: 38px;
  background: url(<path-to-image>) lightgray 50%/cover no-repeat;
}
.information-star {
  margin-left: 52px;
}

/*# sourceMappingURL=main.css.map */
